@import '../utils/variables';
@import '../utils/mixins';

.header {
    box-shadow: 0 1px 4px #{fade-out($color-primary, 0.93)};

    > .container {
        display: flex;
        height: $header-height;
        justify-content: space-between;
    }

    &__logo__link {
        display: block;
        background: linear-gradient(to right, #0b3997 2.76%, #2b8aff 98.34%);
        -webkit-background-clip: text;
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        letter-spacing: 1.8px;
        line-height: $header-height;
        text-transform: uppercase;
        color: transparent;
    }

    &__menu {
        display: none;

        @include breakpoint(large) {
            display: flex;
            width: 100%;
            justify-content: center;
            padding-right: 80px;
        }

        &__item {
            margin-right: 10px;
            margin-left: 10px;
        }

        &__link {
            display: block;
            height: $header-height;
            line-height: $header-height;
            color: #{fade-out($color-primary, 0.5)};
            border-bottom: 3px solid $color-transparent;
            padding-right: 10px;
            padding-left: 10px;
            transition: color 0.3s ease;

            &--current {
                color: $color-primary;
                border-bottom-color: $color-blue;
            }

            &:hover {
                color: $color-primary;
            }
        }
    }

    &__toggle {
        width: 21px;
        height: 21px;
        align-self: center;

        @include breakpoint(large) {
            display: none;
        }

        &__line {
            display: block;
            height: 2px;
            background: $color-primary;
            margin-top: 4px;
            margin-bottom: 4px;
        }
    }
}
