<header class="header">
    <div class="container">

        <h1 class="header__logo">
            <a class="header__logo__link" href="/">Insure.</a>
        </h1>

        <ul class="header__menu">
            <li class="header__menu__item">
                <a class="header__menu__link header__menu__link--current" href="#">Personal Plans</a>
            </li>
            <li class="header__menu__item">
                <a class="header__menu__link" href="#">Business Plans</a>
            </li>
            <li class="header__menu__item">
                <a class="header__menu__link" href="#">Guide</a>
            </li>
            <li class="header__menu__item">
                <a class="header__menu__link" href="#">Blog</a>
            </li>
        </ul>

        <button class="header__toggle">
            <span class="header__toggle__line"></span>
            <span class="header__toggle__line"></span>
            <span class="header__toggle__line"></span>
        </button>

    </div>
</header>
