// Breakpoints
$breakpoints: (
    'small': 480px,
    'medium': 768px,
    'large': 992px,
    'extra-large': 1200px,
);

// Text
$text-family-primary: 'Open Sans', sans-serif;

$text-size-extra-small: 10px;
$text-size-small: 12px;
$text-size-regular: 14px;

$text-weight-light: 300;
$text-weight-regular: 400;
$text-weight-semi-bold: 600;
$text-weight-bold: 700;

$line-height-initial: 1em;
$line-height-regular: 1.375em;

// Title
$title-size-regular: 20px;
$title-size-large: 24px;

// Colors
$color-transparent: transparent;
$color-black: #000000;
$color-white: #ffffff;
$color-primary: #1c1b1a;
$color-light-blue: #e4f0ff;
$color-blue: #2985f7;
$color-yellow: #ffc000;

$color-border: fade-out($color-primary, 0.9);
$color-bronze: #ab6340;
$color-silver: #adc1c4;
$color-gold: #edac5b;
$color-platinum: #999999;

// Header
$header-height: 70px;

// Footer
$footer-height: 80px;
